
<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		
		*{
			margin:0;
			padding: 0;
		}

		body{

			padding: 20px;

		}


		#content_canvas_valuebarras{


		}

		#value_barras{
			
			float: left;
			width: 40px;

		}



		#value_barras p{
			border: 1px solid black;
			margin:0;
		}

		#canvas{
			float: left;
		}

		#label_barras{

			clear: both;
			width: 760px;
			height: 40px;
			margin-left: 40px;

		}

		#label_barras p{
			
			width: 61px;
			float: left;
			margin:0;
			text-align: center;
			padding: 0;
			font-size: 0.8em;
		}

		.semaforo{
			width: 20px;
			border-radius: 50%;
			height: 20px;	
		}

			.semaforo__colorRojo{

				background-color: red;
			}
			.semaforo__colorAmarillo{

				background-color: yellow;
			}
			.semaforo__colorVerde{

				background-color: green;
			}

	</style>
      
</head>
<body>




<div class="container">
	<h1>Ficha Indicador de Gestion</h1>

	<table class="table table-bordered table-responsive" border="2" >

		<tbody>

			<tr>

				<td colspan="4">Total de {{indicador.nombre}}</td>

			</tr>

			<tr>

				<td>Organo o Unidad Organica</td>
				<td colspan="3">{{app.user.areaIpd}}</td>

			</tr>

			<tr>
				<td>Mes Reporte</td>
				<td colspan="3">{{ "now"|date(' F ')|replace({

				    'January'  : 'Enero',
				    'February' : 'Febrero',
				    'March' : 'Marzo',
				    'April' : 'Abril',
				    'May' : 'Mayo',
				    'June' : 'Junio',
				    'July' : 'Julio',
				    'August' : 'Agosto',
				    'September' : 'septiembre',
				    'October' : 'Octubre',
					'November' : 'Noviembre',  
  					'December' : 'Diciembre'
				}) }}</td>
			</tr>

			<tr>
			</tr>


			<tr>
				<td>Objetivo</td>
				<td colspan="3"></td>
			</tr>


			<tr>
				<td>Forma de Calculo</td>
				<td colspan="3"></td>
			</tr>

			<tr>
				<td rowspan="3" >Semaforos de Colores </td>
				<td colspan="3" id="grafica_rojo" >{{leyendas.rojo }}<div class="semaforo  semaforo__colorRojo"></div></td>
				
			</tr>


			<tr>
				<td colspan="3" id="grafica_amarillo">{{ leyendas.amarillo }} <div class="semaforo semaforo__colorAmarillo"></div> </td>
				
			</tr>

			<tr>
				<td colspan="3" id="grafica_verde"> {{ leyendas.verde }}<div class="semaforo semaforo__colorVerde"></div></td>
				
			</tr>

			<tr>
				<td >Fuente de Informacion</td>
				<td  colspan="3"></td>
			</tr>

	
			<tr>

				<td colspan="4" id="content_canvas_valuebarras" >
					<div id="value_barras">
					</div>
					<canvas id="canvas"  width="740" height="400">
					</canvas> 
					<div id="label_barras">
					</div>
				</td>

			</tr>

			<tr>
				<td colspan="4">Plan de Accion</td>
			</tr>

			<tr>

				<td colspan="2">Accion</td>
				<td>Fecha</td>
				<td>Responsable</td>

			</tr>

			<tr>

				<td colspan="2">--------</td>
				<td>{{ "now"|date("m/d/Y") }}</td>
				<td>----------</td>

			</tr>

		</tbody>

	</table>

</div>
<script>
	

	var value_barras = document.getElementById('value_barras');
	var label_barras = document.getElementById('label_barras');

	canvas = document.getElementById('canvas'); 
    var ctx=canvas.getContext("2d");

    var data=[{{total.enero}},{{total.febrero}},{{total.marzo}},{{total.abril}},{{total.mayo}},{{total.junio}},{{total.julio}},{{total.agosto}},{{total.septiembre}},{{total.octubre}},{{total.noviembre}},{{total.diciembre}}];
    var label=[100,90,80,70,60,50,40,30,20,10];
  	var labelBarra = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];

    function barras(ctx,data,color){

    	var numBarras = data.length;
    	var widthCanvas = canvas.getAttribute('width');
    	var marginBarras = widthCanvas*0.02;
    	var widthBarra = widthCanvas/numBarras;
		x=0;

		var heightLabel= canvas.getAttribute('height')/10;

		var hl=0;

    	for(var i = 0 ; i < numBarras ; i++){



    		if(i>-1 && i<10){
    			var pa = document.createElement('p');
    			var nodo = document.createTextNode(label[i]);
    			pa.appendChild(nodo);
    			value_barras.appendChild(pa);	
    			document.getElementsByTagName('p')[i].style.height=heightLabel+"px";
    			console.log(heightLabel);

    			
				ctx.moveTo(0, hl);
				ctx.lineTo(widthCanvas, hl);
				ctx.lineWidth=0.1;
				ctx.stroke();
				 
				hl+=heightLabel;
    		}


			ctx.fillStyle = color;
			//console.log(x);
			
    		ctx.fillRect (x,canvas.getAttribute('height'),widthBarra-marginBarras,-data[i]*canvas.getAttribute('height')/100); 
    		x = x +widthBarra;  

    		
    	}

    	for(var j=0;j<labelBarra.length;j++){
    		console.log(labelBarra[j]);
   			var pa_la = document.createElement('p');
			var nodo_la = document.createTextNode(labelBarra[j]);
			pa_la.appendChild(nodo_la);
			label_barras.appendChild(pa_la);	
    	}
    }

    barras(ctx,data,"rgb(100,200,200)");



</script>
</body>
</html>

