
{% extends '::base.html.twig'  %}

{% block body %}

    <nav class="navbar navbar-inverse">
      	<div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="fa fa-flag" aria-hidden="true" style="margin-right:10px;"></i>{{app.user.areaIpd}}</a>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <ul class="nav navbar-nav"  id="menu-inicio" >
              	<li class="active"><a href="{{path('prueba_verDetalleIndicador')}}">Tablero Control</a></li>
              	<li><a href="{{path('prueba_formIndicador')}}">Indicador</a></li>
              	<li ><a href="{{path('prueba_leyenda')}}">Leyenda</a></li>
            </ul>
        	{% endif %}

            <ul class="nav navbar-nav navbar-right">
              	<li><a href="#"><span class="glyphicon glyphicon-user"></span> {{app.user.username}}</a></li>
              	<li><a href="{{path('prueba_logout')}}"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
            </ul>

      	</div>
    </nav>

	<a  style="margin-left:20px;" href="{{url('prueba_nuevoDetalleIndicador',{tipo:1})}}"><button class="btn btn-primary btn-lg" >Ingresar Uno</button></a>

	<a  style="margin-left:20px;" href="{{url('prueba_nuevoDetalleIndicador',{tipo:2})}}"><button class="btn btn-primary btn-lg" >Ingresar Doble</button></a>

	
	<div class="contenedor__leyenda">

		<h2>Leyenda</h2>

		<table  id="table-leyenda-detalleIndicador" class="table table-responsive table-bordered"  width="100%">
			<thead>
				<tr>
					<th>Id Leyenda</th>
					<th>Indicador</th>
					<th>Rojo</th>
					<th>Amarillo</th>
					<th>Verde</th>
				</tr>
			</thead>

			<tbody>
			{% for leyenda in leyendas  %}
				<tr>
					<td>{{leyenda.id}}</td>
					<td class="leyenda-indicador" >{{leyenda.indicador}}</td>
					<td class="leyenda-rojo">{{leyenda.rojo}} <div class="rojo"></div></td>
					<td class="leyenda-amarillo">{{leyenda.amarillo}} <div class="amarillo" ></div></td>
					<td class="leyenda-verde" >{{leyenda.verde}} <div class="verde"></div></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

</div>


	<table   class="table table-responsive "  width="100%">
		<thead>
			<tr>				
				<!--<th>Indicador</th>-->
				<th>Nombre</th>
				<th>Enero</th>
				<th>Febrero</th>
				<th>Marzo</th>
				<th>Abril</th>
				<th>Mayo</th>
				<th>Junio</th>
				<th>Julio</th>
				<th>Agosto</th>
				<th>Septiemb</th>
				<th>Octubre</th>
				<th>Noviemb</th>
				<th>Diciemb</th>
				<th>Editar</th>
				<th>Grafica</th>
				<th>Ficha</th>
			</tr>
		</thead>
		<tbody>
		
	{% for indicador in indicadores %}

		{% for detalleIndicador in detallesIndicador  %}

			{% if detalleIndicador.indicador.id == indicador.id and detalleIndicador.tipo == '2'  %}

				<tr  class="fila-pintar" data-id-indicador='{{indicador.id}}' >
					<!--<td>{{detalleIndicador.indicador}}</td>-->
					<td>{{detalleIndicador.nombre}}</td>
					<td>{{detalleIndicador.enero}}</td>
					<td>{{detalleIndicador.febrero}}</td>
					<td>{{detalleIndicador.marzo}}</td>
					<td>{{detalleIndicador.abril}}</td>
					<td>{{detalleIndicador.mayo}}</td>
					<td>{{detalleIndicador.junio}}</td>
					<td>{{detalleIndicador.julio}}</td>
					<td>{{detalleIndicador.agosto}}</td>
					<td>{{detalleIndicador.septiembre}}</td>
					<td>{{detalleIndicador.octubre}}</td>
					<td>{{detalleIndicador.noviembre}}</td>
					<td>{{detalleIndicador.diciembre}}</td>
					<td><button  class="btn btn-success"><a href="{{ path('prueba_updateDetalleIndicador', {id:detalleIndicador.id}) }}">Editar</a></button></td>
				</tr>				
			
			{% elseif detalleIndicador.indicador.id == indicador.id and detalleIndicador.tipo == '1' %}
					
				{% for totalIndicador in totalIndicadores %}
		
					{%  if detalleIndicador.indicador.id == totalIndicador.indicador.id %}

				<tr  class=" total fila-pintar"  data-id-indicador='{{indicador.id}}' data-indicador="{{totalIndicador.indicador.nombre}}">
					<!--<td>{{detalleIndicador.indicador}}</td>-->
					<td>{{detalleIndicador.nombre}}</td>
					<td>{{detalleIndicador.enero}}</td>
					<td>{{detalleIndicador.febrero}}</td>
					<td>{{detalleIndicador.marzo}}</td>
					<td>{{detalleIndicador.abril}}</td>
					<td>{{detalleIndicador.mayo}}</td>
					<td>{{detalleIndicador.junio}}</td>
					<td>{{detalleIndicador.julio}}</td>
					<td>{{detalleIndicador.agosto}}</td>
					<td>{{detalleIndicador.septiembre}}</td>
					<td>{{detalleIndicador.octubre}}</td>
					<td>{{detalleIndicador.noviembre}}</td>
					<td>{{detalleIndicador.diciembre}}</td>
					<td><button  class="btn btn-success"><a href="{{ path('prueba_updateDetalleIndicador', {id:detalleIndicador.id}) }}">Editar</a></button></td>
					<td><button class="btn btn-info" class="btn-ficha"  onclick="verGraficaTotal('{{totalIndicador.id}}')"  data-toggle="modal" data-target="#modalGraficos">Grafico</button></td>
					<td><button class="btn btn-warning  btn-ficha-ver" onclick="verReportePdf('{{totalIndicador.indicador.id}}')">Reporte</button></td>									
				</tr>

					{% endif %}
				{% endfor %}

			{% endif %}
						
		{% endfor %}
		

		{% for totalIndicador in totalIndicadores %}
		
			{%  if indicador.id == totalIndicador.indicador.id and indicador.detallesIndicador[0].tipo == '2'  %}

				<tr class="total fila-pintar" data-indicador="{{totalIndicador.indicador.nombre}}" data-id-indicador='{{indicador.id}}' >
					<td>Total</td>
					<td>{{totalIndicador.enero}}%</td>
					<td>{{totalIndicador.febrero}}%</td>
					<td>{{totalIndicador.marzo}}%</td>
					<td>{{totalIndicador.abril}}%</td>
					<td>{{totalIndicador.mayo}}%</td>
					<td>{{totalIndicador.junio}}%</td>
					<td>{{totalIndicador.julio}}%</td>
					<td>{{totalIndicador.agosto}}%</td>
					<td>{{totalIndicador.septiembre}}%</td>
					<td>{{totalIndicador.octubre}}%</td>
					<td>{{totalIndicador.noviembre}}%</td>
					<td>{{totalIndicador.diciembre}}%</td>
					<td></td>
					<td><button class="btn btn-info" class="btn-ficha"  onclick="verGraficaTotal('{{totalIndicador.id}}')"  data-toggle="modal" data-target="#modalGraficos">Grafico</button></td>
					<td><button class="btn btn-warning  btn-ficha-ver" onclick="verReportePdf('{{totalIndicador.indicador.id}}')">Reporte</button></td>

			{% endif %}

		{% endfor %}

	{% endfor %}

	</tbody>

	</table>

<div id="modalGraficos" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
	    <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	<h4 class="modal-title">}</h4>
      	</div>
      	<div class="modal-body">
        	<p>Grafico</p>
        	<canvas id="myChart"></canvas>
      	</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      	</div>
    </div>
  </div>
</div>


<script type="text/javascript">
	
	function verGraficaTotal(idTotalIndicador){

		$.ajax({
			type:"POST",
			data: {'idTotalIndicador': idTotalIndicador},
			url: "{{path('prueba_postTotal')}}",
			dataType:'json',
			success:function(data){

				var data= JSON.parse(data);
				
	            var ctx = document.getElementById('myChart').getContext('2d');
				var chart = new Chart(ctx, {
			    	type: 'bar',
			    	data: {
			        labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio","Agosto","septiembre","Octubre","Noviembre","Diciembre"],
			        datasets: [{
			            label: "My First dataset",
			            backgroundColor: 'rgba(255, 86, 44, 0.8)',
			            borderColor: 'rgb(255, 99, 132)',
		            	data: [data.enero, data.febrero, data.marzo, data.abril, data.mayo, data.junio,data.julio, data.agosto, data.septiembre, data.octubre, data.noviembre,data.diciembre],
			        	}]
			    	},
			    	options: {}
				});
				
			},
			error:function(error){
				console.log(error);
			}
		});
	}


	function pintarRojoTable(obj){
		$(obj).append("<div class='table_semaforo_rojo'></div>");
		$(".table_semaforo_rojo").css("width","15px");
		$(".table_semaforo_rojo").css("height","15px");
		$(".table_semaforo_rojo").css("borderRadius","100%");
		$(".table_semaforo_rojo").css("backgroundColor","red");
	}

	function pintarAmarilloTable(obj){
		$(obj).append("<div class='table_semaforo_amarillo'></div>");
		$(".table_semaforo_amarillo").css("width","15px");
		$(".table_semaforo_amarillo").css("height","15px");
		$(".table_semaforo_amarillo").css("borderRadius","100%");
		$(".table_semaforo_amarillo").css("backgroundColor","yellow");
	}

		function pintarVerdeTable(obj){
		$(obj).append("<div class='table_semaforo_verde'></div>");
		$(".table_semaforo_verde").css("width","15px");
		$(".table_semaforo_verde").css("height","15px");
		$(".table_semaforo_verde").css("borderRadius","100%");
		$(".table_semaforo_verde").css("backgroundColor","green");
	}



	var array=[];
	var td ="";
	c=0;

	var total_tr = document.querySelectorAll(".total");
	var leyenda_rojo = document.querySelectorAll(".leyenda-rojo");
	var leyenda_amarillo = document.querySelectorAll(".leyenda-amarillo");
	var leyenda_verde = document.querySelectorAll(".leyenda-verde");
	var leyenda_indicador = document.querySelectorAll(".leyenda-indicador");
	

	/*SE PINTAN LAS FILAS DE DIFERENTES FILAS*/
	var fila_pintar = document.querySelectorAll(".fila-pintar");


	var coloresFila ={

		1:'rgba(224, 44, 44, 0.7)',
		2:'rgba(229, 100, 44, 0.7)',
		3:'rgba(229, 100, 138, 0.7)',
		4:'rgba(229, 234, 125, 0.7)',
		5:'rgba(144, 50, 125, 0.7)',
		6:'rgba(144, 50, 224, 0.6)',
		7:'rgba(144, 50, 97, 0.6)',
		8:'rgba(144, 228, 97, 0.6)',
		9:'rgba(144, 228, 0, 0.3)'
	}


	{% for indicador in indicadores %}

		for(var t=0; t<fila_pintar.length;t++){

			if( $(fila_pintar[t]).attr('data-id-indicador') == '{{indicador.id}}' ){
				$(fila_pintar[t]).css("backgroundColor",coloresFila[{{indicador.id}}]);
			}
		}

	{% endfor %}

	/*FIN*/

	var data_total={};

	for(var i=0; i<total_tr.length  ; i++){

	var data_numeros = [];

		for(var j=0; j<leyenda_indicador.length; j++){

			if($(total_tr[i]).attr("data-indicador") == $(leyenda_indicador[j]).text()){
				
				console.log("Rojo ==> "+$(leyenda_rojo[j]).text());
				var arr_rojo = $(leyenda_rojo[j]).text().split(" ");

				console.log("Amarillo ==> "+$(leyenda_amarillo[j]).text());
				var arr_amarillo = $(leyenda_amarillo[j]).text().split(" ");

				console.log("Verde ==> "+$(leyenda_verde[j]).text());
				var arr_verde = $(leyenda_verde[j]).text().split(" ");
			
				$(total_tr[i]).children("td").each(function(index,element){

					td = $(this).text().replace("%","");
					console.log("td =>",td);
					if(!isNaN( parseInt(td) ) || 1==1 ){

						c++;
						data_numeros.push(td);
						if(arr_rojo[1]=="<"){

							if(parseInt(td) < parseInt(arr_rojo[0]) ){
								pintarRojoTable(this);
							}
						}

						else if(arr_rojo[1]=="<="){
							if(parseInt(td) <= parseInt(arr_rojo[0]) ){
								pintarRojoTable(this);
							}
						}	

						if(arr_amarillo[1]=="<"){

							if(arr_rojo[1]=="<"){
								if(parseInt(td) < parseInt(arr_amarillo[0]) && parseInt(td) >= arr_rojo[0]){
									pintarAmarilloTable(this);
								}
							}

							else if(arr_rojo[1]=="<="){
								if(parseInt(td) < parseInt(arr_amarillo[0]) && parseInt(td) > arr_rojo[0]){
									pintarAmarilloTable(this);
								}
							}	

						}

						else if(arr_amarillo[1]=="<="){

							if(arr_rojo[1]=="<"){
								if(parseInt(td) <= parseInt(arr_amarillo[0]) && parseInt(td) >= arr_rojo[0]){
										pintarAmarilloTable(this);
								}
							}

							else if(arr_rojo[1]=="<="){
								if(parseInt(td) <= parseInt(arr_amarillo[0]) && parseInt(td) > arr_rojo[0]){
									pintarAmarilloTable(this);
								}
							}
						}

						if(arr_verde[1]==">"){
							if(parseInt(td) > parseInt(arr_verde[0]) ){
								pintarVerdeTable(this);
							}
						}	

						else if(arr_verde[1] == ">="){
							if(parseInt(td) >= parseInt(arr_verde[0]) ){
								pintarVerdeTable(this);
							}	
						}
					

					}
				});
			}
		}

		data_total[i+1] = data_numeros;
	}


	function verReportePdf(idIndicador){

		location.href ="/detalleindicador/graficos/form/"+idIndicador;
	}

	function verGrafica(datos){

		$.each(data_total,function(key,value){
			console.log(value);
			if(value[0]==datos){
				enviarTotalAjax(value);
			}
		});
	}
	
	function enviarTotalAjax(total_graficos){
		$.ajax({
			type:"POST",
			data: {'total': total_graficos},
			url: "{{path('prueba_postTotal')}}",
			dataType:'json',
			success:function(data){
	            var ctx = document.getElementById('myChart').getContext('2d');
				var chart = new Chart(ctx, {
			    	type: 'bar',
			    	data: {
			        labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio","Agosto","septiembre","Octubre","Noviembre","Diciembre"],
			        datasets: [{
			            label: "My First dataset",
			            backgroundColor: 'rgba(255, 86, 44, 0.8)',
			            borderColor: 'rgb(255, 99, 132)',
		            	data: [data[2], data[3], data[4], data[5], data[6], data[7],data[8], data[9], data[10], data[11], data[12],data[13] ],
			        	}]
			    	},
			    	options: {}
				});
			},
			error:function(error){
				console.log(error);
			}
		});
	}


	$('#table-leyenda-detalleIndicador').DataTable();
	$('#table-detalleIndicador-detalleIndicador').DataTable();
	
</script>
<script src="{{asset('js/chart.js')}}"></script>
{% endblock %}

