{% extends '::base.html.twig'  %}

{% block body %}

	
<a href="/acuerdosPre"><button style="margin-left:30px;"  class="btn btn-info btn-lg">Regresar</button></a>

<h2 class="text-center">SEGUIMIENTO DE LOS ACUERDOS DE LOS COMITES DE PRESIDENCIA</h2>

<div style="width:70%; height:400px; margin:0 auto;">

	<div class="form-group col-md-6 col-lg-6">
		<label>Comite</label>
		<input type="number" name="comite"  id="comite" class="form-control">
	</div>

	<div class="form-group col-md-6 col-lg-6">
		<label>Fecha</label>
		<input type="date" name="fecha"  id="fecha" class="form-control">
	</div>

	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Acuerdos Adoptados</label>
		<input type="text" name="acuerdos"  id="acuerdos"  class="form-control">
	</div>

	<div class="form-group col-md-6 col-sm-6 col-lg-6" >
		<label>N° del acuerdo</label>
		<input type="number" name="nroAcuerdo" id="nroAcuerdo"  class="form-control">
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Area Responsable</label>
		<select  name="areaIpd" id="areaIpd"  class="form-control" multiple >
		</select>
		<label for="todo-area" >Todas las areas</label>
		<input id="todo-area" type="checkbox" name="todo-area">
		<label>Seleccionar Otros</label>
		<input id="todo-otros" type="checkbox" name="todo-otros">
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Estado</label>
		
		<select name="estado" id="estado"  class="form-control">
			<option value="En Proceso">En Proceso</option>
			<option value="Implementado" >Implementado</option>
			<option value="Cancelado">Cancelado</option>
		</select>
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Observaciones</label>
		<textarea type="text" name="observaciones" id="observaciones" class="form-control"></textarea>
	</div>


	<div class="form-group col-md-6 col-sm-6 col-lg-6">
		<label>Plazo de Entrega</label>
		<input type="date" name="plazoEntrega" id="plazoEntrega"  class="form-control">
	</div>

	<button class="btn btn-primary" id="boton-editar-acuerdosPre">Editar</button>

</div>

<script>


$(document).ready(function(){

	$("#comite").val({{acuerdosPre.comite}});
	$("#acuerdos").val( "{{ acuerdosPre.acuerdos }}" );
	$("#fecha").val( "{{ acuerdosPre.fecha}}" );
	$("#nroAcuerdo").val( "{{ acuerdosPre.nroAcuerdo}}" );
	$("#plazoEntrega").val( "{{ acuerdosPre.plazoEntrega}}" );
	$("#observaciones").val("{{observaciones[cantidadObservaciones-1].descripcion}}");

	var sel = document.getElementById("estado");

	for (let i = 0; i < sel.length; i++) {
		
		if(sel[i].value === "{{acuerdosPre.estado}}" ){

			sel[i].setAttribute('selected','selected');

		}
	}

	console.log(sel[0].value);	

	var arrAreasIpd= [];

	{% for acuPreA in acuerdosPreAreaIpd  %}	

		if( {{id}} == {{acuPreA.acuerdoPre.id}} ){			

			if("{{acuPreA.areaIpd.nombre}}" == 'OTROS' && "{{acuPreA.areaIpd.tipo}}" == '1' ){

				$("#areaIpd").append("<option data-option='{{acuPreA.areaIpd.nombre}}' selected='selected' value={{acuPreA.areaIpd.id}}>{{acuPreA.areaIpd.personaResponsable}}</option>");
				arrAreasIpd.push({{acuPreA.areaIpd.id}});
			}
			else if("{{acuPreA.areaIpd.nombre}}" != 'OTROS' && "{{acuPreA.areaIpd.tipo}}" == '1'){
				$("#areaIpd").append("<option selected='selected' value={{acuPreA.areaIpd.id}}>{{acuPreA.areaIpd.nombre}}</option>");
				arrAreasIpd.push({{acuPreA.areaIpd.id}});				
			}
			
		}
	{% endfor %}

	c=-1;

	{% for arit in areaIpdTotal  %}	
		a=0;
		while(a<arrAreasIpd.length ){

			if({{arit.id}} == arrAreasIpd[a]){
				c=arrAreasIpd[a];
			}
			a++;
		}
		
		if( c != {{arit.id}} ){

			if("{{arit.nombre}}" != 'OTROS' && "{{arit.tipo}}" == '1' && "{{arit.baja}}" == '1' ){

				$("#areaIpd").append("<option  value={{arit.id}}>{{arit.nombre}}</option>");

			}else if("{{arit.nombre}}" == 'OTROS' && "{{arit.tipo}}" == '1' && "{{arit.baja}}" == '1'){

				$("#areaIpd").append("<option data-option='{{arit.nombre}}' value={{arit.id}}>{{arit.personaResponsable}}</option>");
			}
		}	

	{% endfor %}
{#/*
	$.ajax({
		type:"GET",
		url:"{{ url('prueba_getArea') }}",
		dataType:'json',
		success:function(data){
		console.log(JSON.parse(data));
		JSON.parse(data).forEach(function(valor,index){

			if(valor.id == {{ acuerdosPre.areaIpd.id }} ){
				$("#areaIpd").append("<option selected='selected' value='"+valor.id+"'>"+valor.nombre+"</option>");
			}else{
				$("#areaIpd").append("<option value='"+valor.id+"'>"+valor.nombre+"</option>");
			}

			
		});

		},
		error:function(error){
			console.log(error);
		}

	});	
	*/
#}



		$("#boton-editar-acuerdosPre").on('click',function(){

			postEditAcuerdosPre();			

		});


			function postEditAcuerdosPre(){

				datos={

					comite: $("#comite").val(),
					fecha: $("#fecha").val(),
					acuerdos: $("#acuerdos").val(),
					nroAcuerdo: $("#nroAcuerdo").val(),
					areaIpd: $("#areaIpd").val(),
					estado: $("#estado").val(),
					areasIpdInicio: arrAreasIpd,
					observaciones: $("#observaciones").val(),
					plazoEntrega: $("#plazoEntrega").val()

				}


				$.ajax({

					dataType: 'json',
					type: 'POST',
					url: "/acuerdosPre/update/{{id}}",
					data:datos,

					success:function(data){
						var datosAcuerdosPre=JSON.parse(data);
						

							console.log(datosAcuerdosPre);	
							

					},

					error:function(error){
						console.log(error);
					}


				});

			}


	var areaIpdSelect = document.getElementById("areaIpd");

	var arraySelectAreasInicio = [];

	for (var i = 0; i <areaIpdSelect.options.length ; i++) {
		if(areaIpdSelect.options[i].selected == true){
			arraySelectAreasInicio.push(i);
		}		
	}

	var cont=0;

	$( "#todo-area" ).on( "click",function(){

		if(cont==0){

			limpiarSelectAll();			
			selecionarAreasAll(true);
			cont++;
		}else{

			selecionarAreasAll(false);
			selecionarAreasInicio(arraySelectAreasInicio);
			cont=0;
		}		

	});

	function limpiarSelectAll(){

		for (var i = 0; i <areaIpdSelect.options.length ; i++) {	
				areaIpdSelect.options[i].selected=false;
		}		
	}


	function selecionarAreasAll(varBool){
		for (var i = 0; i <areaIpdSelect.options.length ; i++) {
			if($(areaIpdSelect.options[i]).attr('data-option') !='OTROS'){	
				areaIpdSelect.options[i].selected=varBool;
			}
		}		
	}

	function selecionarAreasInicio(arraPos){
		for (var i = 0; i <arraPos.length ; i++) {			
			areaIpdSelect.options[arraPos[i]].selected=true;	
		}		
	}

	var contOtros=0;
	$( "#todo-otros" ).on( "click",function(){

		if(contOtros==0){
			limpiarSelectAll();
			selecionarOtrosAll(false);
			selecionarOtrosAll(true);
			contOtros++;
		}else{
			selecionarOtrosAll(false);
			selecionarAreasInicio(arraySelectAreasInicio);
			contOtros=0;
		}		
	});

	function selecionarOtrosAll(varBool){
		for (var i = 0; i <areaIpdSelect.options.length ; i++) {

			if($(areaIpdSelect.options[i]).attr('data-option') =='OTROS'){
				
				areaIpdSelect.options[i].selected=varBool;
			}	
		}		
	}

});


</script>


{%  endblock %}