{% extends '::base.html.twig'  %}

{% block body %}

<section>

	<div class="contenedor-titulo">
		<img  class="image-responsive" src="{{asset('img/logoipd.png')}}">
		<div >
			<span>SEGUIMIENTO DE LOS ACUERDOS ADOPTADOS</span>
			<span>EN REUNIONES DE SECRETARIA GENERAL</span>	
		</div>
	</div>

	<div class="contenedor-table">
		<div class="contenedor-boton-nuevo-sg">
			<a  style="margin-left:20px;" href="{{url('prueba_principal')}}"><button class="btn btn-danger btn-lg" ><i class="icon-back"></i> Regresar</button></a>

			{% if is_granted('ROLE_ADMIN') %}
				<a  style="margin-left:20px;" href="{{url('prueba_nuevoAcuerdosSG')}}"><button class="btn btn-info btn-lg" ><i class="icon-plus-square-o"></i> Nuevo Seguimiento SG</button></a>
			{% endif %}

			<button data-toggle="modal" data-target="#myModal" style="margin-left:20px;" class="btn btn-warning btn-lg btn-resena" ><i class="icon-pie-chart"></i> Reseña</button>
		</div>

		<table  class="table table-responsive table-bordered table-sg" style="margin:10px;">

			<thead>
				<tr style="background-color:#cb2f1d; color:#fff; font-weight:bold;">
					<td>
						Sesion
					</td>
					
					<td>
						Fecha
					</td>

					<td>
						Agenda
					</td>

					<td>
						Acuerdos Adoptados
					</td>

					<td>
						Responsables
					</td>

					<td>
						Estado
					</td>

					<td>
						Plazo de Entrega
					</td>

					<td>
						Observaciones
					</td>

					{% if is_granted('ROLE_ADMIN') %}

						<th>
							Editar
						</th>

						<th>
							Eliminar
						</th>

					{% endif %}

				</tr>
			</thead>

			<tbody id="table_body">


			</tbody>

		</table>

		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title" id="titulo_acuerdoSG"></h4>
		      </div>
		      <div class="modal-body">
		        <p class="titulo-modal">Historial de Observaciones</p>
		        <div class="container-table-resena">
		        	<table border="1" class="table-resena" >
		        		<tbody>
				
		        			<tr style="background-color:#95C11E">
		        				<td>Implementado</td>
		        				<td>{{cantidadImplementado[0]['cantidadEstado']}}</td>


								{% if cantidadImplementado[0]['cantidadEstado'] != 0 %}
		        					<td>{{(cantidadImplementado[0]['cantidadEstado'] / cantidadSG[0]['cantidadEstado']) * 100|round}}%</td>
		        				{% else %}
		        					<td>0%</td>
		        				{% endif %}
		        			</tr>

        					<tr style="background-color:#FBC900">
		        				<td>Cancelado</td>
		        				<td>{{cantidadCancelado[0]['cantidadEstado']}}</td>
		        				{% if  cantidadCancelado[0]['cantidadEstado'] != 0 %}
		        					<td>{{((cantidadCancelado[0]['cantidadEstado'] / cantidadSG[0]['cantidadEstado']) * 100)|round}}%</td>

		        				{% else %}
		        					<td>0%</td>
		        				{% endif %}
		        			</tr>
		        			<tr style="background-color:#00A09A">
		        				<td>En proceso</td>


		        				<td>{{cantidadEnProceso[0]['cantidadEstado']}}</td>
		        				{% if cantidadEnProceso[0]['cantidadEstado'] != 0 %}
		        					<td>{{(cantidadEnProceso[0]['cantidadEstado'] / cantidadSG[0]['cantidadEstado']) * 100|round}}%</td>
		        				{% else %}
									<td>0%</td>
		        				{% endif %}	
		        			</tr>
        					<tr style="background-color:#EB4E1B">
		        				<td>No Aplica</td>
								

		        				<td>{{cantidadNoAplica[0]['cantidadEstado']}}</td>
								{% if cantidadNoAplica[0]['cantidadEstado'] != 0 %}
		        					<td>{{(cantidadNoAplica[0]['cantidadEstado'] / cantidadSG[0]['cantidadEstado']) * 100|round}}%</td>

		        				{% else %}
		        					<td>0%</td>
		        				{% endif %}
		        			</tr>

        					<tr>
		        				<td>Total</td>
		        				<td>{{cantidadSG[0]['cantidadEstado']}}</td>
		        				{% if cantidadSG[0]['cantidadEstado'] != 0 %}
		        					<td>{{(cantidadSG[0]['cantidadEstado'] / cantidadSG[0]['cantidadEstado']) * 100|round}}%</td>
		        				{% else %}
									<td>0%</td>
		        				{% endif %}
		        			</tr>

		        			
		        		</tbody>
		        	</table>
		        </div>
		        <table class="info table table-bordered table-responsive">
		        	<thead class="table-head" >
		        		<tr style="background-color:#95C11E ">
		        			<td>Num</td>
		        			<td>Descripcion</td>
		        			<td>Fecha</td>
		        		</tr>
		        	</thead>
		        	<tbody id="table-body-observaciones">
		        		<canvas id="myChart"></canvas>
		        	</tbody>
		        </table>
		      </div>
		      <div class="modal-footer" style="background-color:#ac2d0f">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
		      </div>
		    </div>

		  </div>
		</div>




		<div id="modalAreas" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title" id="titulo_acuerdoSG">Reponsables</h4>
		      </div>
		      <div class="modal-body">
		        
				<div class="listadoAreaResponsables">
					
				</div>

		      </div>
		      <div class="modal-footer" style="background-color:#ac2d0f">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
		      </div>
		    </div>

		  </div>
		</div>




	</div>


		<div id="modalMensajeResponsable" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title" id="titulo_acuerdoSG">Mensaje</h4>
		      </div>
		      <div class="modal-body">
		      	<label>Persona Responsable</label>
		      	<input type="text" class="form-control" name="personaResponsable" id="correo-persona-responsable" >

		      	<label>Correo</label>
		        <input type="email"  class="form-control" name="correo" id="correo-enviar-responsable" >ç

		        <label>Mensaje</label>
				<textarea  class="form-control" id="correo-enviar-mensaje" ></textarea>

				<button class="btn btn-primary" id="send-mail" >Enviar Mensaje</button>

		      </div>
		      <div class="modal-footer" style="background-color:#ac2d0f">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
		      </div>
		    </div>

		  </div>
		</div>
</section>

<script src="{{asset('js/push/push.min.js')}}"></script>
<script src="{{asset('js/acuerdosSG/listarAreasResponsablesSG.js')}}"></script>
<script>


	$("#send-mail").on('click',function(){

		datos={

			'nombre':$("#correo-persona-responsable").val(),
			'email': $("#correo-enviar-responsable").val(),
			'mensaje': $('#correo-enviar-mensaje').val()
		}

		$.ajax({

		type:"POST",
		data:datos,
		url:"{{ url('prueba_sendMail') }}",
		dataType:'json',
		success:function(data){
				console.log(data);
			},
			error:function(error){
				console.log(error);
			}


		});


	});



	$(".btn-resena").on('click',function(){
		$("#myChart").show();
		$('.titulo-modal').empty();
		$('.table-head').hide();
		$('#table-body-observaciones').empty();
		$('.container-table-resena').show('slow');
		$('.modal-title').empty();
		$('.modal-title').append('Reseñas de Acuerdos Adoptados Por Secretaria General');


			var CantidadImplementado = {{cantidadImplementado[0]['cantidadEstado']}}
			var CantidadCancelado = {{cantidadCancelado[0]['cantidadEstado']}}
			var CantidadEnProceso = {{cantidadEnProceso[0]['cantidadEstado']}}
			var CantidadNoAplica = {{cantidadNoAplica[0]['cantidadEstado']}}
			var CantidadEstadoTotal = {{cantidadSG[0]['cantidadEstado']}};


			var porCantidadImplementado = (CantidadImplementado/CantidadEstadoTotal)*100;
			var porCantidadCancelado = (CantidadCancelado/CantidadEstadoTotal)*100;
			var porCantidadEnProceso = (CantidadEnProceso/CantidadEstadoTotal)*100;
			var porCantidadNoAplica = (CantidadNoAplica/CantidadEstadoTotal)*100;

            var ctx = document.getElementById('myChart').getContext('2d');
			var chart = new Chart(ctx, {
		    	type: 'bar',
		    	data: {
		        labels: ["Implementado", "Cancelado", "En Proceso", "No Aplica"],
		        datasets: [{
		            label: "Reseñas",
		            backgroundColor: [
						'#95C11E',
						'#FBC900',
						'#00A09A',
						'#EB4E1B',
						],
		            borderColor: 'rgb(255, 99, 132)',
	            	data: [ porCantidadImplementado , porCantidadCancelado, porCantidadEnProceso, porCantidadNoAplica, ],
		        	}]
		    	},
		    	options: {
		    		scales:{

		    			yAxes:[{
		    				ticks:{
		    					max:100,
		    					min:0 
		    				}
		    			}]

		    		}
		    	}
			});

	});



	$(document).ready(function(){

		var dataMeses = {
			"01": "Enero",
			"02": "Febrero",
			"03": "Marzo",
			"04": "Abril",
			"05": "Mayo",
			"06": "Junio",
			"07": "Julio",
			"08": "Agosto",
			"09": "Septiembre",
			"10": "Octubre",
			"11": "Noviembre",
			"12": "Diciembre"
		}

		$.ajax({
			dataType: 'json',
			type: 'GET',
			url: "{{url('prueba_getAcuerdosSG')}}",
			success:function(data){

				var datosAcuerdosSG=JSON.parse(data);
				const promesa = new Promise(function(resolve,reject){
				datosAcuerdosSG.forEach(function(valor,index){
					
				let fecha = new Date();
				let dia = fecha.getDate();
				let mes = fecha.getMonth()+1;
				let anio = fecha.getFullYear();
				let arrayFecha = valor.plazoEntrega.split("-");

				if(arrayFecha[0] == anio ){
					if(arrayFecha[1] == mes ){
						if(arrayFecha[2] - dia < 4 ){
							console.log("{{app.user.areaIpd}}");
							{% for acusg in acuerdosSGAreaIpd %}

								if({{acusg.acuerdoSG.id}} == valor.id && valor.baja==1){

									if("{{acusg.areaIpd.nombre}}" == "{{app.user.areaIpd}}"){

										Push.create((arrayFecha[2] - dia) + " DIAS RESTANTES",{
											body: "Faltan solo"+ (arrayFecha[2] - dia) +"dias para cumplir el plazo del acuerdo {{acusg.acuerdoSG.acuerdos}}",
											icon: "{{ asset('img/pilar.jpg') }}",
											timeout: 1000
										});
										console.log("mamama");
									}						
								} 

							{% endfor %}

						}
					}
				}

						let fechaAcuerdo = valor.fecha.split("-");
						let fechaPlazo = valor.plazoEntrega.split("-");

						{% if is_granted('ROLE_ADMIN') %}

				            var url = "{{url('prueba_acuerdosSGUpdate',{id:'idAcu'})}}";
            				url = url.replace("idAcu", valor.id);	

            				console.log(url);

							$("#table_body").append('<tr value="'+valor.id+'" data-row="'+valor.id+'" >'+'<td>'+valor.sesion+'</td>'+'<td>'+fechaAcuerdo[2]+' de '+ dataMeses[fechaAcuerdo[1]]+' del '+fechaAcuerdo[0]+'</td>'+'<td>'+valor.agenda+'</td>'+'<td>'+valor.acuerdos+'</td>'+'<td><button class="btn btn-areas-reponsables btn-info" value="'+valor.id+'"  data-toggle="modal" data-target="#modalAreas" >ver</button></td>'+'<td>'+valor.estado+'</td>'+'<td>'+fechaPlazo[2]+' de '+ dataMeses[fechaPlazo[1]]+' del '+fechaPlazo[0]+'</td>'+'<td><button class="btn btn-warning btn-historial-observacion" data-toggle="modal"  data-target="#myModal" value="'+valor.id+'" ><i class="icon-history"></i> Observaciones</button></td>'+"<td><a class='editar-sg' href='"+url+"'><button class='btn btn-success'><i class='icon-pencil-square-o' ></i> Editar</button></a></td>"+'<td><a href="/acuerdosSG/remove/'+valor.id+'" ><button class="btn btn-danger" ><i class="icon-trash"></i> Eliminar</button></a></td>'+'</tr>');

						{% else %}	

								$("#table_body").append('<tr value="'+valor.id+'" data-row="'+valor.id+'" >'+'<td>'+valor.sesion+'</td>'+'<td>'+fechaAcuerdo[2]+' de '+ dataMeses[fechaAcuerdo[1]]+' del '+fechaAcuerdo[0]+'</td>'+'<td>'+valor.agenda+'</td>'+'<td>'+valor.acuerdos+'</td>'+'<td><button class="btn btn-areas-reponsables btn-info" value="'+valor.id+'"  data-toggle="modal" data-target="#modalAreas" >ver</button></td>'+'<td>'+valor.estado+'</td>'+'<td>'+fechaPlazo[2]+' de '+ dataMeses[fechaPlazo[1]]+' del '+fechaPlazo[0]+'</td>'+'<td><button class="btn btn-warning btn-historial-observacion" data-toggle="modal"  data-target="#myModal" value="'+valor.id+'" ><i class="icon-history"></i> Observaciones</button></td></tr>');				

						{%endif  %}					
					
						});
					resolve("jajaj");
				});

				promesa.then(function(response){
					
					$(".btn-areas-reponsables").on('click',function(){

						$(".listadoAreaResponsables").empty();

						{% for val in  acuerdosSGAreaIpd %}

							if({{val.acuerdoSG.id}} == $(this).val() ){
								
								$(".listadoAreaResponsables").append("<div class='container-mensaje-area' ><p>{{val.areaIpd.nombre}}</p><button class='btn sendMail btn-primary' data-toggle='modal' data-target='#modalMensajeResponsable' data-persona='{{val.areaIpd.personaResponsable}}' value='{{val.areaIpd.correo}}'>Enviar Mensaje</button></div>");

							}

						{% endfor %}

						var abrirModalMensajeResponsables  = document.querySelectorAll('.sendMail');

						for (var i = 0; i < abrirModalMensajeResponsables.length; i++) {
							
							abrirModalMensajeResponsables[i].onclick=function(){
								$("#correo-enviar-responsable").val($(this).val());
								$("#correo-persona-responsable").val($(this).attr('data-persona'));
							}
						}

					});

					var refRow = document.querySelectorAll('#table_body> tr');
					var botonRemove = document.querySelectorAll('.btn-remove');
					for (var i = 0; i < botonRemove.length; i++) {
						botonRemove[i].onclick=function(){

							if(confirm("Esta seguro en Eliminar Acuerdo ?")){
								

								for (var i = 0; i < refRow.length; i++) {
						
									if($(refRow[i]).attr('data-row')==this.value){
										//AcuerdosSGRemove(this.value);
										$(refRow[i]).css('display','none');

									}
						
								}	
							}

						}
					}

					$(".table-sg").attr('id','table-acuerdosSG');
					$('#table-acuerdosSG').DataTable();
					var btn_historial =  document.querySelectorAll(".btn-historial-observacion");

					for(var i=0; i<btn_historial.length;i++){

						btn_historial[i].onclick=function(){
							$("#myChart").hide();
							$('.titulo-modal').empty();
							$('.table-head').show();
							$('.titulo-modal').append('Historial Observaciones');
							$(".container-table-resena").hide('slow');
														
							$.ajax({

								type:"POST",
								data:{ id : this.value },
								url:"{{ url('prueba_observacionesSGPost') }}",
								dataType:'json',
								success:function(data){

									var data_observaciones = JSON.parse(data);	
									console.log("Observaciones ==> ",data_observaciones);
									var arrObs = new Array();

									$("#table-body-observaciones").empty();

									data_observaciones["observacionSG"].forEach(function(valor,index){
										console.log(valor);
										arrObs.push(valor);
										
									});

									for(var i = arrObs.length-1; i >=0 ; i--) {
										let fechaObservacionMod = arrObs[i].fecha.split("-");
										$("#table-body-observaciones").append("<tr>"+"<td>"+(i+1)+"</td>"+"<td>"+arrObs[i].descripcion+"<td>"+fechaObservacionMod[2]+' de '+ dataMeses[fechaObservacionMod[1]]+' del '+fechaObservacionMod[0]+"</td>"+"</td>"+"</tr>");
									}
									$("#titulo_acuerdoSG").empty();
									$("#titulo_acuerdoSG").append(data_observaciones["areaIpd"].nombre);

								},
								error:function(error){
									console.log(error);
								}
							});

						}
					}
				});
			},
			
			error:function(error){
				console.log(error);
			}


		});




		
	});

</script>

<script src="{{asset('js/chart.js')}}"></script>




{% endblock %}